{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Shuai Xin's site</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' />


    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel='stylesheet' />

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/hover.zoom.js' %}"></script>
    <script src="{% static 'js/hover.zoom.conf.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Shuai Xin's Site</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<!--
            <li><a href="work.html">Work</a></li>
            <li><a href="about.html">About</a></li>  -->
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- +++++ Welcome Section +++++ -->
	<div id="about">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="{% static 'img/shuai.jpg' %}" alt="shuai" />
					<h1>安安，我是帥昕。</h1>
					<p>台灣新北新莊人，新泰國小、新莊國中、建國中學畢業，目前就讀國立台灣大學物理治療學系，
            並且正在嘗試取得資工輔系學憑。<br/>
帥昕乃自冠花名，本名劉昕。目前致力於發展自己的獨特價值，擺脫總是拾人牙慧的無產人生。<br/>
欣賞且嚮往<a href="https://zh.wikipedia.org/wiki/艾茵·兰德">蘭德</a>的理念，看完她的著作《阿特拉斯聳聳肩》
後才猛然瞭解自己為何活得如此彆扭。<br/>
目前的興趣是彈唱、編曲、資訊工程。<br/>
順帶一提，照片裡的兩顆是膝蓋，不是奶子。
</p>
					<h1>Hi, I am Shuai Xin.</h1>
					<p>Hello. I'm Shuai Xin, Taiwanese. "Shuai" means handsome in Chinese, so you can
             comprehend my name as "Handsome Xin". (Actually, my given name is Liu Xin, of
             which "Liu" is my family name.) Being a student in National Taiwan University,
              I'm now majoring in physical therapy while sometimes playing around with other stuff
              such as computer science, music composition and production. Emm... If you want
            to learn more about me, try reading Chinese.</p>
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


	<!-- +++++ Projects Section +++++ -->



	<!-- +++++ Footer Section +++++ -->

	<div id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Contact Info</h4>
					<p>
						cel: 0908551223 <br/>
						lineID: awesomexin <br/>
            email: xinver22@gmail.com <br/>
						city: XinZhuang, NewTaipei <br/>
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="https://www.instagram.com/_shuai_xin/">Instagram</a><br/>
						<a href="https://www.facebook.com/profile.php?id=100002572402623">Facebook</a><br/>
						<a href="https://peing.net/zh-TW/shuaixin?event=0">peing提問箱</a>
					</p>
				</div><!-- /col-lg-4 -->

				<div class="col-lg-4">
					<h4>Zz(´-ω-`*)</h4>
					<p>zzZ</p>
				</div><!-- /col-lg-4 -->

			</div>

		</div>
	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
